.place__image {
  background-position: center;
  padding-bottom: 83.3%;
  height: 0;
}

@media screen and (min-width: 768px) {
  /*  В каждом нечётном элементе place поменять местами
      элементы text-contain и image */
  .place:nth-of-type(2n+1) .place__image {
    order: -1;
  }
}
