.place__image {
  width: 100%;
  height: calc(100vw / 3.2);
  object-fit: cover;
  transition: transform 0.2s linear;

  /*  выравнивание alt-text */
  line-height: 50px;
  text-align: center;
  font-size: 30px;
}

.place__image:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 767px) {
  .place__image {
    height: calc(100vw / 1.6);
  }
}
