.place__paragraph {
  margin: 0;
  margin-top: 25px;
  padding: 0;
  max-width: 420px;
  line-height: 1.4;
  font-size: 16px;
  flex-grow: 1;
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    max-width: 100%;
  }
}
